<!-- Page Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<!-- Page Message block -->
<%# messages() %>


<!-- Inventory Items Display -->
<%- card %>