<!-- Page Heading -->
<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>


    <!-- Page Message block -->
    <%- messages() %>


      <!-- Inventory Items Display -->
      <p><a href="/inv/add-classification">Add New Classification</a></p>
      <p><a href="/inv/add-inventory">Add New Inventory</a></p>
      <h2>Manage Inventory</h2>
      <h4>Select a classification term to update</h4>
      <%- classificationSelect %>
        <h4>Select a classification to view the items.</h4>
        <%- classificationSelect %>
          <table id="inventoryDisplay"></table>
          <noscript>JavaScript must be enabled to use this page.</noscript>

          <script src="../../js/inventory.js"></script>